src/main/resources/config/SemsSOAPDEV1.wsdl

<?xml version="1.0" ?><wsdl:definitions name="SemsSOAPService" targetNamespace="http://interfaces.sems.sbs.it.hp.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://interfaces.sems.sbs.it.hp.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema targetNamespace="v2Customer" version="1.0" xmlns:ns1="http://interfaces.sems.sbs.it.hp.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://interfaces.sems.sbs.it.hp.com/"></xs:import>
<xs:complexType name="v2Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="uniqueIdentifier" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="uniqueIdentifierType" type="xs:string"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="contactType" nillable="true" type="ns1:contactDTO"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="address" nillable="true" type="ns1:addressDTO"></xs:element>
      <xs:element minOccurs="0" name="companyName" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xs:schema targetNamespace="v1Customer" version="1.0" xmlns:ns1="http://interfaces.sems.sbs.it.hp.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://interfaces.sems.sbs.it.hp.com/"></xs:import>
<xs:complexType name="customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="customerDescription" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="customerId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="customerLegalName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="customerName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="customerPhone" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="emailId" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="geographicArea" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="isoCountryCd" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="orgID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="postalCode" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="primaryContact" type="ns1:userDTO"></xs:element>
      <xs:element minOccurs="0" name="streetAddr1" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="streetAddr2" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="streetAddr3" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://interfaces.sems.sbs.it.hp.com/" version="1.0" xmlns:ns1="v1Customer" xmlns:ns2="v2Customer" xmlns:tns="http://interfaces.sems.sbs.it.hp.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="v1Customer"></xs:import>
<xs:import namespace="v2Customer"></xs:import>
<xs:element name="Address" type="tns:addressDTO"></xs:element>
<xs:element name="Contact" type="tns:contactDTO"></xs:element>
<xs:element name="CustomProperty" type="tns:customPropertyDTO"></xs:element>
<xs:element name="Entitlement" type="tns:entitlementDTO"></xs:element>
<xs:element name="EntitlementFolder" type="tns:entitlementFolderDTO"></xs:element>
<xs:element name="EntitlementProduct" type="tns:entitlementProductDTO"></xs:element>
<xs:element name="LicenseActivation" type="tns:licenseActivationDTO"></xs:element>
<xs:element name="LineItem" type="tns:lineItemDTO"></xs:element>
<xs:element name="Order" type="tns:orderDTO"></xs:element>
<xs:element name="Organization" type="tns:organizationDTO"></xs:element>
<xs:element name="Role" type="tns:roleDTO"></xs:element>
<xs:element name="SemsServiceResponse" type="tns:semsServiceResponse"></xs:element>
<xs:element name="Site" type="tns:siteDTO"></xs:element>
<xs:element name="SoftwareLicenseStructure" type="tns:softwareLicenseStructureDTO"></xs:element>
<xs:element name="Target" type="tns:targetDTO"></xs:element>
<xs:element name="TargetDescription" type="tns:targetDescriptionDTO"></xs:element>
<xs:element name="User" type="tns:userDTO"></xs:element>
<xs:element name="customer" type="ns1:customer"></xs:element>
<xs:element name="deliverOrderSp" type="tns:deliverOrderSp"></xs:element>
<xs:element name="deliverOrderSpResponse" type="tns:deliverOrderSpResponse"></xs:element>
<xs:element name="entitledFolder" type="tns:entitledFolderDTO"></xs:element>
<xs:element name="entitledUser" type="tns:entitledUserDTO"></xs:element>
<xs:element name="folder" type="tns:folderDTO"></xs:element>
<xs:element name="getEntitlementsBySAIDProductSp" type="tns:getEntitlementsBySAIDProductSp"></xs:element>
<xs:element name="getEntitlementsBySAIDProductSpResponse" type="tns:getEntitlementsBySAIDProductSpResponse"></xs:element>
<xs:element name="getEntitlementsByUserSp" type="tns:getEntitlementsByUserSp"></xs:element>
<xs:element name="getEntitlementsByUserSpResponse" type="tns:getEntitlementsByUserSpResponse"></xs:element>
<xs:element name="location" type="tns:locationDTO"></xs:element>
<xs:element name="permission" type="tns:permissionDTO"></xs:element>
<xs:element name="semsError" type="tns:semsError"></xs:element>
<xs:element name="v2Customer" type="ns2:v2Customer"></xs:element>
<xs:complexType name="getEntitlementsByUserSp">
    <xs:sequence>
      <xs:element minOccurs="0" name="hpPassportID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="entitlementStatus" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="entitlementType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="entitlementSubType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="ibInfoRequired" type="xs:boolean"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="saidList" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEntitlementsByUserSpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:semsServiceResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="semsServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="response" type="xs:anyType"></xs:element>
      <xs:element minOccurs="0" name="Errors">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Error" type="tns:semsError"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="semsError">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="errorMessage" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="errorDetail" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="organizationListDTO">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="organizationsList" nillable="true" type="tns:organizationDTO"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="organizationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="organizationId" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="source" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="organizationName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="rPLPassed" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="embargoedCountryPassed" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="EntitlementFolders">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EntitlementFolder" type="tns:entitlementFolderDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="TargetMachines">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TargetMachine" type="tns:targetDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="entitlementFolderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="folderId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="folderName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="folderRole" type="tns:roleDTO"></xs:element>
      <xs:element minOccurs="0" name="Users">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="User" type="tns:userDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Notifiers">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Notifier" type="tns:userDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="EntitlementList">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Entitlement" type="tns:entitlementDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="roleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="roleId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="roleName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="roleDescription" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="Permissions">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Permission" type="tns:permissionDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType final="extension restriction" name="permissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="permissionDescription" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="permissionId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="permissionName" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType final="extension restriction" name="userDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="userId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="userType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="manager" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="hppId" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="siteminderId" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="userDescription" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="firstName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="lastName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="emailAddress" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="userName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="EntitledFolders">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EntitledFolder" type="tns:entitledFolderDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType final="extension restriction" name="entitledFolderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="folder" type="tns:folderDTO"></xs:element>
      <xs:element minOccurs="0" name="role" type="tns:roleDTO"></xs:element>
      <xs:element minOccurs="0" name="status" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="userId" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType final="extension restriction" name="folderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="autoApproveEffective" type="xs:dateTime"></xs:element>
      <xs:element minOccurs="0" name="autoApproveEnd" type="xs:dateTime"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="autoApproveRoleList" nillable="true" type="tns:roleDTO"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="baseEntIds" nillable="true" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="customer" type="ns1:customer"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entitledUsers" nillable="true" type="tns:entitledUserDTO"></xs:element>
      <xs:element minOccurs="0" name="foldName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="folderAutoApproveIndicator" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="folderDescription" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="folderId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="folderName" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

<xs:complexType name="entitledUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="folderId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="folderName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="operateUserId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="requestId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="role" type="tns:roleDTO"></xs:element>
      <xs:element minOccurs="0" name="status" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="user" type="tns:userDTO"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="entitlementDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="entitlementID" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="ChildEntitlements">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ChildEntitlement" type="tns:entitlementDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="entitlementType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="References">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Reference" type="tns:entitlementReferenceDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="entitlementProduct" type="tns:entitlementProductDTO"></xs:element>
      <xs:element minOccurs="0" name="siteDTO" type="tns:siteDTO"></xs:element>
      <xs:element minOccurs="0" name="entitlementStatus" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="effectiveTimestamp" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="expirationTimestamp" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="timezone" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="TargetIDs">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TargetID" type="xs:long"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="eligibleForUpgrade" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="eligibleForMigrate" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="eligibleForUpdate" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="majorVersion" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="minorVersion" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="Activations">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Activation" type="tns:licenseActivationDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="entitlementReferenceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="referenceName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="referenceSystem" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="referenceType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="referenceValue" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="subReferenceValue" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="entitlementProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="productID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="productName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="entitlementID" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="entitlementProductType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="ConfigurableProducts">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ConfigurableProduct" type="tns:entitlementProductDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Characteristics">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Characteristic" type="tns:entitlementProductCharacteristicDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="licenseStructure" type="tns:softwareLicenseStructureDTO"></xs:element>
      <xs:element minOccurs="0" name="meter" type="tns:meterDTO"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="entitlementProductCharacteristicDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="characteristicMDCPID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="characteristicName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="characteristicType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="characteristicValue" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="meter" type="tns:meterDTO"></xs:element>
      <xs:element minOccurs="0" name="ChildEntitlementProductCharacteristics">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ChildEntitlementProductCharacteristic" type="tns:entitlementProductCharacteristicDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="meterDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activatedQuantity" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="availableQuantity" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="characteristicID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="entitledTotal" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="supportTotal" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="unitOfmeasure" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="unlimited" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="uomName" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="softwareLicenseStructureDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="slsID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="variantID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="uom" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="type" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="clazz" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="licenseType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="billingType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="soldByRowID" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="siteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Locations">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Location" type="tns:locationDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="rPLPassed" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="embargoedCountryPassed" type="xs:boolean"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="locationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="countryCode" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fmtAddrLine1" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fmtAddrLine2" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fmtAddrLine3" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fmtAddrLine4" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fmtAddrLine5" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="geographicArea" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="identifier" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="postalCode" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="siteBusinessName1" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="siteBusinessName2" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="siteBusinessName3" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="siteBusinessName4" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="streetAddress1" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="streetAddress2" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="streetAddress3" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="licenseActivationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activationID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="status" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="activatedDate" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="ActivatedEntitlementList">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ActivatedEntitlement" type="tns:entitlementDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="activationReason" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="activationSystemReference" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="targetID" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="TargetDescIDs">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TargetDescID" type="xs:long"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="targetDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="targetId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="status" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="targetName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="orgID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="TargetDescriptions">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TargetDescription" type="tns:targetDescriptionDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="targetDescriptionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="targetMachineID" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="targetDescriptionID" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="status" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="despName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="despValue" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="despType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="despTypeDescriptName" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEntitlementsBySAIDProductSp">
    <xs:sequence>
      <xs:element minOccurs="0" name="said" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="productId" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEntitlementsBySAIDProductSpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:semsServiceResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deliverOrderSp">
    <xs:sequence>
      <xs:element minOccurs="0" name="order" type="tns:orderDTO"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="orderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="heartOrderNumber" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="pdapiOrderNumber" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="eon" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="orderType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="channelPartnerPO" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="serviceAgreementID" type="xs:string"></xs:element>
      <xs:element name="customerMap">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="value" type="ns2:v2Customer"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="lineItems" nillable="true" type="tns:lineItemDTO"></xs:element>
    </xs:sequence>
  </xs:complexType>

<xs:complexType name="contactDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="emailAddress" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="firstName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="lastName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="phone" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fax" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="uniqueIdentifier" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="uniqueIdentifierType" type="xs:string"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="address" nillable="true" type="tns:addressDTO"></xs:element>
      <xs:element minOccurs="0" name="contactType" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addressDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="addreessLine1" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="addreessLine2" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="addreessLine3" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="city" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="state" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="countryCode" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="countryName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="zipCode" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="comment" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="lineItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="publisherID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="productSKU" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="quantityMode" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="quantity" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="productOptionStr" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="productVersion" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="LicenseNumber" type="xs:string"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="customProperty" nillable="true" type="tns:customPropertyDTO"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="customPropertyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="publisherID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="valueDescription" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="deliverOrderSpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:semsServiceResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="deliverOrderSp">
    <wsdl:part element="tns:deliverOrderSp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitlementsByUserSpResponse">
    <wsdl:part element="tns:getEntitlementsByUserSpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitlementsBySAIDProductSpResponse">
    <wsdl:part element="tns:getEntitlementsBySAIDProductSpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitlementsBySAIDProductSp">
    <wsdl:part element="tns:getEntitlementsBySAIDProductSp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deliverOrderSpResponse">
    <wsdl:part element="tns:deliverOrderSpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitlementsByUserSp">
    <wsdl:part element="tns:getEntitlementsByUserSp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SemsSOAP">
    <wsdl:operation name="getEntitlementsByUserSp">
      <wsdl:input message="tns:getEntitlementsByUserSp" name="getEntitlementsByUserSp">
    </wsdl:input>
      <wsdl:output message="tns:getEntitlementsByUserSpResponse" name="getEntitlementsByUserSpResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntitlementsBySAIDProductSp">
      <wsdl:input message="tns:getEntitlementsBySAIDProductSp" name="getEntitlementsBySAIDProductSp">
    </wsdl:input>
      <wsdl:output message="tns:getEntitlementsBySAIDProductSpResponse" name="getEntitlementsBySAIDProductSpResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deliverOrderSp">
      <wsdl:input message="tns:deliverOrderSp" name="deliverOrderSp">
    </wsdl:input>
      <wsdl:output message="tns:deliverOrderSpResponse" name="deliverOrderSpResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SemsSOAPServiceSoapBinding" type="tns:SemsSOAP">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="getEntitlementsBySAIDProductSp">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getEntitlementsBySAIDProductSp">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getEntitlementsBySAIDProductSpResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntitlementsByUserSp">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getEntitlementsByUserSp">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getEntitlementsByUserSpResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deliverOrderSp">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="deliverOrderSp">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="deliverOrderSpResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SemsSOAPService">
    <wsdl:port binding="tns:SemsSOAPServiceSoapBinding" name="SemsSOAPPort">
      <soap:address location="http://c0041013.itcs.hp.com:8080/sbs-sems-deploy-war/SOAP/SemsSOAP"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>