src/main/resources/config/SemsSOAP.wsdl

<?xml version="1.0" ?><wsdl:definitions name="SemsSOAPService" targetNamespace="http://interfaces.sems.sbs.it.hp.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://interfaces.sems.sbs.it.hp.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://interfaces.sems.sbs.it.hp.com/" version="1.0" xmlns:tns="http://interfaces.sems.sbs.it.hp.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Entitlement" type="tns:entitlementDTO"></xs:element>
<xs:element name="EntitlementFolder" type="tns:entitlementFolderDTO"></xs:element>
<xs:element name="EntitlementProduct" type="tns:entitlementProductDTO"></xs:element>
<xs:element name="LicenseActivation" type="tns:licenseActivationDTO"></xs:element>
<xs:element name="MDMProductDistributionEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="id">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="name" type="xs:token" use="required"></xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="businessService" type="xs:token" use="required"></xs:attribute>
      <xs:attribute name="mutation" type="xs:string"></xs:attribute>
    </xs:complexType>
  </xs:element>
<xs:element name="Organization" type="tns:organizationDTO"></xs:element>
<xs:element name="Role" type="tns:roleDTO"></xs:element>
<xs:element name="SemsServiceResponse" type="tns:semsServiceResponse"></xs:element>
<xs:element name="Site" type="tns:siteDTO"></xs:element>
<xs:element name="SoftwareLicenseStructure" type="tns:softwareLicenseStructureDTO"></xs:element>
<xs:element name="Target" type="tns:targetDTO"></xs:element>
<xs:element name="TargetDescription" type="tns:targetDescriptionDTO"></xs:element>
<xs:element name="Targets" type="tns:targetDTOs"></xs:element>
<xs:element name="User" type="tns:userDTO"></xs:element>
<xs:element name="createTargetSp" type="tns:createTargetSp"></xs:element>
<xs:element name="createTargetSpResponse" type="tns:createTargetSpResponse"></xs:element>
<xs:element name="customer" type="tns:customerDTO"></xs:element>
<xs:element name="entitledFolder" type="tns:entitledFolderDTO"></xs:element>
<xs:element name="entitledUser" type="tns:entitledUserDTO"></xs:element>
<xs:element name="folder" type="tns:folderDTO"></xs:element>
<xs:element name="getEntitlementsByCompanySp" type="tns:getEntitlementsByCompanySp"></xs:element>
<xs:element name="getEntitlementsByCompanySpResponse" type="tns:getEntitlementsByCompanySpResponse"></xs:element>
<xs:element name="getEntitlementsByHPPIDByOrgIDSp" type="tns:getEntitlementsByHPPIDByOrgIDSp"></xs:element>
<xs:element name="getEntitlementsByHPPIDByOrgIDSpResponse" type="tns:getEntitlementsByHPPIDByOrgIDSpResponse"></xs:element>
<xs:element name="getEntitlementsBySAIDProductSp" type="tns:getEntitlementsBySAIDProductSp"></xs:element>
<xs:element name="getEntitlementsBySAIDProductSpResponse" type="tns:getEntitlementsBySAIDProductSpResponse"></xs:element>
<xs:element name="getEntitlementsByUserSp" type="tns:getEntitlementsByUserSp"></xs:element>
<xs:element name="getEntitlementsByUserSpResponse" type="tns:getEntitlementsByUserSpResponse"></xs:element>
<xs:element name="getOrganizationsByHPPIDSp" type="tns:getOrganizationsByHPPIDSp"></xs:element>
<xs:element name="getOrganizationsByHPPIDSpResponse" type="tns:getOrganizationsByHPPIDSpResponse"></xs:element>
<xs:element name="getTargetsByOrganizationIdSp" type="tns:getTargetsByOrganizationIdSp"></xs:element>
<xs:element name="getTargetsByOrganizationIdSpResponse" type="tns:getTargetsByOrganizationIdSpResponse"></xs:element>
<xs:element name="location" type="tns:locationDTO"></xs:element>
<xs:element name="notifyActivationSp" type="tns:notifyActivationSp"></xs:element>
<xs:element name="notifyActivationSpResponse" type="tns:notifyActivationSpResponse"></xs:element>
<xs:element name="permission" type="tns:permissionDTO"></xs:element>
<xs:element name="processActivationResponse" type="tns:notifyActivationResponse"></xs:element>
<xs:element name="processEntitlementResponse" type="tns:processEntitlementResponse"></xs:element>
<xs:element name="processEntitlementSp" type="tns:processEntitlementSp"></xs:element>
<xs:element name="processEntitlementSpResponse" type="tns:processEntitlementSpResponse"></xs:element>
<xs:element name="processMessage" type="tns:processMessage"></xs:element>
<xs:element name="processMessageResponse" type="tns:processMessageResponse"></xs:element>
<xs:element name="semsError" type="tns:semsError"></xs:element>
<xs:element name="sychronizeTargetSp" type="tns:sychronizeTargetSp"></xs:element>
<xs:element name="sychronizeTargetSpResponse" type="tns:sychronizeTargetSpResponse"></xs:element>
<xs:element name="updateSaaSFulfillmentSp" type="tns:updateSaaSFulfillmentSp"></xs:element>
<xs:element name="updateSaaSFulfillmentSpResponse" type="tns:updateSaaSFulfillmentSpResponse"></xs:element>
<xs:element name="updateUsageDataSp" type="tns:updateUsageDataSp"></xs:element>
<xs:element name="updateUsageDataSpResponse" type="tns:updateUsageDataSpResponse"></xs:element>
<xs:element name="updateUserHppIdSp" type="tns:updateUserHppIdSp"></xs:element>
<xs:element name="updateUserHppIdSpResponse" type="tns:updateUserHppIdSpResponse"></xs:element>
<xs:complexType name="processMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="mdmProductDistributionEvent">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="id">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="name" type="xs:token" use="required"></xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="businessService" type="xs:token" use="required"></xs:attribute>
          <xs:attribute name="mutation" type="xs:string"></xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="processMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:semsServiceResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="semsServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="response" type="xs:anyType"></xs:element>
      <xs:element minOccurs="0" name="Errors">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Error" type="tns:semsError"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="semsError">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="errorMessage" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="errorDetail" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEntitlementsByHPPIDByOrgIDSp">
    <xs:sequence>
      <xs:element minOccurs="0" name="hpPassportID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="orgId" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="entitlementStatus" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="entitlementType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="entitlementSubType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="ibInfoRequired" type="xs:boolean"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="saidList" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEntitlementsByHPPIDByOrgIDSpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:semsServiceResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="organizationListDTO">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="organizationsList" nillable="true" type="tns:organizationDTO"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="organizationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="organizationId" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="source" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="organizationName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="rPLPassed" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="embargoedCountryPassed" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="EntitlementFolders">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EntitlementFolder" type="tns:entitlementFolderDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="TargetMachines">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TargetMachine" type="tns:targetDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="entitlementFolderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="folderId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="folderName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="folderRole" type="tns:roleDTO"></xs:element>
      <xs:element minOccurs="0" name="Users">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="User" type="tns:userDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Notifiers">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Notifier" type="tns:userDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="EntitlementList">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Entitlement" type="tns:entitlementDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="roleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="roleId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="roleName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="roleDescription" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="Permissions">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Permission" type="tns:permissionDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType final="extension restriction" name="permissionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="permissionDescription" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="permissionId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="permissionName" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType final="extension restriction" name="userDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="userId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="userType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="manager" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="hppId" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="siteminderId" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="userDescription" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="firstName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="lastName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="emailAddress" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="userName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="EntitledFolders">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EntitledFolder" type="tns:entitledFolderDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType final="extension restriction" name="entitledFolderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="folder" type="tns:folderDTO"></xs:element>
      <xs:element minOccurs="0" name="role" type="tns:roleDTO"></xs:element>
      <xs:element minOccurs="0" name="status" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="userId" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType final="extension restriction" name="folderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="autoApproveEffective" type="xs:dateTime"></xs:element>
      <xs:element minOccurs="0" name="autoApproveEnd" type="xs:dateTime"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="autoApproveRoleList" nillable="true" type="tns:roleDTO"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="baseEntIds" nillable="true" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="customer" type="tns:customerDTO"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entitledUsers" nillable="true" type="tns:entitledUserDTO"></xs:element>
      <xs:element minOccurs="0" name="foldName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="folderAutoApproveIndicator" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="folderDescription" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="folderId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="folderName" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="customerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="customerDescription" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="customerId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="customerLegalName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="customerName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="customerPhone" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="emailId" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="geographicArea" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="isoCountryCd" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="orgID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="postalCode" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="primaryContact" type="tns:userDTO"></xs:element>
      <xs:element minOccurs="0" name="streetAddr1" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="streetAddr2" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="streetAddr3" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="entitledUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="folderId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="folderName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="operateUserId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="requestId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="role" type="tns:roleDTO"></xs:element>
      <xs:element minOccurs="0" name="status" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="user" type="tns:userDTO"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="entitlementDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="entitlementID" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="ChildEntitlements">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ChildEntitlement" type="tns:entitlementDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="entitlementType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="References">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Reference" type="tns:entitlementReferenceDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="entitlementProduct" type="tns:entitlementProductDTO"></xs:element>
      <xs:element minOccurs="0" name="siteDTO" type="tns:siteDTO"></xs:element>
      <xs:element minOccurs="0" name="entitlementStatus" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="effectiveTimestamp" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="expirationTimestamp" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="timezone" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="TargetIDs">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TargetID" type="xs:long"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="eligibleForUpgrade" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="eligibleForMigrate" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="eligibleForUpdate" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="majorVersion" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="minorVersion" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="Activations">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Activation" type="tns:licenseActivationDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="entitlementReferenceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="referenceName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="referenceSystem" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="referenceType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="referenceValue" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="subReferenceValue" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="entitlementProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="productID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="productName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="entitlementID" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="entitlementProductType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="ConfigurableProducts">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ConfigurableProduct" type="tns:entitlementProductDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Characteristics">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Characteristic" type="tns:entitlementProductCharacteristicDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="licenseStructure" type="tns:softwareLicenseStructureDTO"></xs:element>
      <xs:element minOccurs="0" name="meter" type="tns:meterDTO"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="entitlementProductCharacteristicDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="characteristicMDCPID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="characteristicName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="characteristicType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="characteristicValue" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="meter" type="tns:meterDTO"></xs:element>
      <xs:element minOccurs="0" name="ChildEntitlementProductCharacteristics">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ChildEntitlementProductCharacteristic" type="tns:entitlementProductCharacteristicDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="meterDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activatedQuantity" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="availableQuantity" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="characteristicID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="entitledTotal" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="supportTotal" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="unitOfmeasure" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="unlimited" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="uomName" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="softwareLicenseStructureDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="slsID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="variantID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="uom" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="type" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="clazz" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="licenseType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="billingType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="soldByRowID" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="siteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Locations">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Location" type="tns:locationDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="rPLPassed" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="embargoedCountryPassed" type="xs:boolean"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="locationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="countryCode" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fmtAddrLine1" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fmtAddrLine2" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fmtAddrLine3" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fmtAddrLine4" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fmtAddrLine5" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="geographicArea" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="identifier" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="postalCode" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="siteBusinessName1" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="siteBusinessName2" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="siteBusinessName3" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="siteBusinessName4" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="streetAddress1" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="streetAddress2" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="streetAddress3" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="licenseActivationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activationID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="status" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="activatedDate" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="ActivatedEntitlementList">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ActivatedEntitlement" type="tns:entitlementDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="activationReason" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="activationSystemReference" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="targetID" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="TargetDescIDs">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TargetDescID" type="xs:long"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="targetDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="targetId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="status" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="targetName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="orgID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="TargetDescriptions">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TargetDescription" type="tns:targetDescriptionDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="targetDescriptionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="targetMachineID" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="targetDescriptionID" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="status" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="despName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="despValue" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="despType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="despTypeDescriptName" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateSaaSFulfillmentSp">
    <xs:sequence>
      <xs:element minOccurs="0" name="iDocNumber" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="transactionID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="fulfillmentXMLidoc" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateSaaSFulfillmentSpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:semsServiceResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="processEntitlementResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="iDocNumber" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="contractNumber" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="transactionID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="said" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="customerSiteID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="businessType" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getOrganizationsByHPPIDSp">
    <xs:sequence>
      <xs:element minOccurs="0" name="hpPassportID" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getOrganizationsByHPPIDSpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:semsServiceResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sychronizeTargetSp">
    <xs:sequence>
      <xs:element minOccurs="0" name="targetDTO" type="tns:targetDTO"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sychronizeTargetSpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:semsServiceResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="processEntitlementSp">
    <xs:sequence>
      <xs:element minOccurs="0" name="iDocNumber" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="transactionID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="orderContractXMLidoc" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="processEntitlementSpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:semsServiceResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEntitlementsByCompanySp">
    <xs:sequence>
      <xs:element minOccurs="0" name="organizationID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="entitlementStatus" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="entitlementType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="entitlementSubType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="ibInfoRequired" type="xs:boolean"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEntitlementsByCompanySpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:semsServiceResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateUsageDataSp">
    <xs:sequence>
      <xs:element minOccurs="0" name="iDocNumber" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="transactionID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="usageDataXMLidoc" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateUsageDataSpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:semsServiceResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEntitlementsByUserSp">
    <xs:sequence>
      <xs:element minOccurs="0" name="hpPassportID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="entitlementStatus" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="entitlementType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="entitlementSubType" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="ibInfoRequired" type="xs:boolean"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="saidList" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEntitlementsByUserSpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:semsServiceResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEntitlementsBySAIDProductSp">
    <xs:sequence>
      <xs:element minOccurs="0" name="said" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="productId" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEntitlementsBySAIDProductSpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:semsServiceResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateUserHppIdSp">
    <xs:sequence></xs:sequence>
  </xs:complexType>
<xs:complexType name="updateUserHppIdSpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:semsServiceResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createTargetSp">
    <xs:sequence>
      <xs:element minOccurs="0" name="targetDTO" type="tns:targetDTO"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createTargetSpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:semsServiceResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="notifyActivationSp">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entActList" type="tns:licenseActivationDTO"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="notifyActivationSpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:semsServiceResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="notifyActivationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="notification" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="transactionId" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getTargetsByOrganizationIdSp">
    <xs:sequence>
      <xs:element minOccurs="0" name="orgId" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getTargetsByOrganizationIdSpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:semsServiceResponse"></xs:element>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="targetDTOs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Targets">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Target" type="tns:targetDTO"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateSaaSFulfillmentSpResponse">
    <wsdl:part element="tns:updateSaaSFulfillmentSpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processEntitlementSpResponse">
    <wsdl:part element="tns:processEntitlementSpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUsageDataSpResponse">
    <wsdl:part element="tns:updateUsageDataSpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sychronizeTargetSp">
    <wsdl:part element="tns:sychronizeTargetSp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateSaaSFulfillmentSp">
    <wsdl:part element="tns:updateSaaSFulfillmentSp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createTargetSpResponse">
    <wsdl:part element="tns:createTargetSpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitlementsByCompanySp">
    <wsdl:part element="tns:getEntitlementsByCompanySp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitlementsBySAIDProductSp">
    <wsdl:part element="tns:getEntitlementsBySAIDProductSp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitlementsByUserSp">
    <wsdl:part element="tns:getEntitlementsByUserSp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTargetsByOrganizationIdSpResponse">
    <wsdl:part element="tns:getTargetsByOrganizationIdSpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitlementsByHPPIDByOrgIDSpResponse">
    <wsdl:part element="tns:getEntitlementsByHPPIDByOrgIDSpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processMessageResponse">
    <wsdl:part element="tns:processMessageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createTargetSp">
    <wsdl:part element="tns:createTargetSp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="notifyActivationSpResponse">
    <wsdl:part element="tns:notifyActivationSpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitlementsByCompanySpResponse">
    <wsdl:part element="tns:getEntitlementsByCompanySpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitlementsByHPPIDByOrgIDSp">
    <wsdl:part element="tns:getEntitlementsByHPPIDByOrgIDSp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitlementsByUserSpResponse">
    <wsdl:part element="tns:getEntitlementsByUserSpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrganizationsByHPPIDSp">
    <wsdl:part element="tns:getOrganizationsByHPPIDSp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitlementsBySAIDProductSpResponse">
    <wsdl:part element="tns:getEntitlementsBySAIDProductSpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrganizationsByHPPIDSpResponse">
    <wsdl:part element="tns:getOrganizationsByHPPIDSpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sychronizeTargetSpResponse">
    <wsdl:part element="tns:sychronizeTargetSpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserHppIdSpResponse">
    <wsdl:part element="tns:updateUserHppIdSpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTargetsByOrganizationIdSp">
    <wsdl:part element="tns:getTargetsByOrganizationIdSp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="notifyActivationSp">
    <wsdl:part element="tns:notifyActivationSp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processMessage">
    <wsdl:part element="tns:processMessage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserHppIdSp">
    <wsdl:part element="tns:updateUserHppIdSp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processEntitlementSp">
    <wsdl:part element="tns:processEntitlementSp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUsageDataSp">
    <wsdl:part element="tns:updateUsageDataSp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SemsSOAP">
    <wsdl:operation name="processMessage">
      <wsdl:input message="tns:processMessage" name="processMessage">
    </wsdl:input>
      <wsdl:output message="tns:processMessageResponse" name="processMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntitlementsByHPPIDByOrgIDSp">
      <wsdl:input message="tns:getEntitlementsByHPPIDByOrgIDSp" name="getEntitlementsByHPPIDByOrgIDSp">
    </wsdl:input>
      <wsdl:output message="tns:getEntitlementsByHPPIDByOrgIDSpResponse" name="getEntitlementsByHPPIDByOrgIDSpResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSaaSFulfillmentSp">
      <wsdl:input message="tns:updateSaaSFulfillmentSp" name="updateSaaSFulfillmentSp">
    </wsdl:input>
      <wsdl:output message="tns:updateSaaSFulfillmentSpResponse" name="updateSaaSFulfillmentSpResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrganizationsByHPPIDSp">
      <wsdl:input message="tns:getOrganizationsByHPPIDSp" name="getOrganizationsByHPPIDSp">
    </wsdl:input>
      <wsdl:output message="tns:getOrganizationsByHPPIDSpResponse" name="getOrganizationsByHPPIDSpResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sychronizeTargetSp">
      <wsdl:input message="tns:sychronizeTargetSp" name="sychronizeTargetSp">
    </wsdl:input>
      <wsdl:output message="tns:sychronizeTargetSpResponse" name="sychronizeTargetSpResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processEntitlementSp">
      <wsdl:input message="tns:processEntitlementSp" name="processEntitlementSp">
    </wsdl:input>
      <wsdl:output message="tns:processEntitlementSpResponse" name="processEntitlementSpResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntitlementsByCompanySp">
      <wsdl:input message="tns:getEntitlementsByCompanySp" name="getEntitlementsByCompanySp">
    </wsdl:input>
      <wsdl:output message="tns:getEntitlementsByCompanySpResponse" name="getEntitlementsByCompanySpResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUsageDataSp">
      <wsdl:input message="tns:updateUsageDataSp" name="updateUsageDataSp">
    </wsdl:input>
      <wsdl:output message="tns:updateUsageDataSpResponse" name="updateUsageDataSpResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntitlementsByUserSp">
      <wsdl:input message="tns:getEntitlementsByUserSp" name="getEntitlementsByUserSp">
    </wsdl:input>
      <wsdl:output message="tns:getEntitlementsByUserSpResponse" name="getEntitlementsByUserSpResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntitlementsBySAIDProductSp">
      <wsdl:input message="tns:getEntitlementsBySAIDProductSp" name="getEntitlementsBySAIDProductSp">
    </wsdl:input>
      <wsdl:output message="tns:getEntitlementsBySAIDProductSpResponse" name="getEntitlementsBySAIDProductSpResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserHppIdSp">
      <wsdl:input message="tns:updateUserHppIdSp" name="updateUserHppIdSp">
    </wsdl:input>
      <wsdl:output message="tns:updateUserHppIdSpResponse" name="updateUserHppIdSpResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createTargetSp">
      <wsdl:input message="tns:createTargetSp" name="createTargetSp">
    </wsdl:input>
      <wsdl:output message="tns:createTargetSpResponse" name="createTargetSpResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyActivationSp">
      <wsdl:input message="tns:notifyActivationSp" name="notifyActivationSp">
    </wsdl:input>
      <wsdl:output message="tns:notifyActivationSpResponse" name="notifyActivationSpResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTargetsByOrganizationIdSp">
      <wsdl:input message="tns:getTargetsByOrganizationIdSp" name="getTargetsByOrganizationIdSp">
    </wsdl:input>
      <wsdl:output message="tns:getTargetsByOrganizationIdSpResponse" name="getTargetsByOrganizationIdSpResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SemsSOAPServiceSoapBinding" type="tns:SemsSOAP">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="processMessage">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="processMessage">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="processMessageResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntitlementsByHPPIDByOrgIDSp">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getEntitlementsByHPPIDByOrgIDSp">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getEntitlementsByHPPIDByOrgIDSpResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSaaSFulfillmentSp">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateSaaSFulfillmentSp">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateSaaSFulfillmentSpResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrganizationsByHPPIDSp">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getOrganizationsByHPPIDSp">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getOrganizationsByHPPIDSpResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processEntitlementSp">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="processEntitlementSp">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="processEntitlementSpResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sychronizeTargetSp">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="sychronizeTargetSp">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="sychronizeTargetSpResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntitlementsByCompanySp">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getEntitlementsByCompanySp">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getEntitlementsByCompanySpResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUsageDataSp">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateUsageDataSp">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateUsageDataSpResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntitlementsBySAIDProductSp">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getEntitlementsBySAIDProductSp">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getEntitlementsBySAIDProductSpResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEntitlementsByUserSp">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getEntitlementsByUserSp">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getEntitlementsByUserSpResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createTargetSp">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="createTargetSp">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="createTargetSpResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserHppIdSp">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateUserHppIdSp">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateUserHppIdSpResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyActivationSp">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="notifyActivationSp">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="notifyActivationSpResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTargetsByOrganizationIdSp">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getTargetsByOrganizationIdSp">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getTargetsByOrganizationIdSpResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SemsSOAPService">
    <wsdl:port binding="tns:SemsSOAPServiceSoapBinding" name="SemsSOAPPort">
      <soap:address location="https://sems-sbs.corp.hp.com/sems-1.0/SOAP/SemsSOAP"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>